.section {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid rgb(247, 107, 107);

  box-shadow: inset 0 0 0 2px #fff, 0 5px 5px #0004;
}

.statisticsItem {
  list-style: none;
  border: 1px solid rgb(247, 107, 107);
  background-color: #e99;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #fff, 0 5px 5px #0004;
  font-size: 30px;
}

.statisticsList {
  padding: 0;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.message {
  border: 1px solid rgb(247, 107, 107);
  background-color: #e99;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #fff, 0 5px 5px #0004;
  font-size: 30px;
  text-align: center;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.btn {
  padding: 10px 28px;
  border: 1px solid rgb(247, 107, 107);
  border-radius: 5px;
  box-shadow: inset 0 0 0 2px #fff, 0 5px 5px #0004;
  line-height: 1.25;
  background: #e99;
  text-decoration: none;
  color: white;
  font-size: 16px;
  letter-spacing: 0.08em;
  transition: background-color 0.6s ease;
  overflow: hidden;
  margin-bottom: 30px;
  text-transform: capitalize;
}
